<div class="page-border">
  <div class="page-header">
    <h1>Borrower Dashboard</h1>

    <div id="Make a loan">
      <%= link_to 'Apply For A New Loan', new_borrower_loan_path, :class => 'btn btn-primary' %>
    </div><br/>

    <div id="profile">
      <%= link_to "Edit My Profile", edit_user_path(current_user), :class => 'btn btn-primary' %><br/><br/>
      <%= current_user.first_name %><%= current_user.last_name %>
      <%= current_user.email %>
    </div>
  </div>

  <h3>Loans</h3>
  <ul class="nav nav-tabs" role="tablist">
    <% @loan_states.each_with_index do |state, i| %>
      <li class="<%= i==0 ? 'active' : '' %>">
        <a class="tab-control" href="#tab-<%=i + 1 %>"><%= state.capitalize %></a>
      </li>
    <% end %>
  </ul>
  <% @loan_states.each_with_index do |state, i| %>
      <div class="tab-panel<%= i==0 ? ' active' : ''%>" id="tab-<%= i+1 %>">
        <div class="loans transitions-enabled">
          <%= render partial: 'loans_table', collection: @loans_by_state[state], as: :loan %>
        </div>
      </div>
  <% end %>
</div>
