<div class="page-border">
  <h1><%= current_user.first_name %> <%= current_user.last_name %>'s Dashboard</h1>
  <% if current_user.loans.any? %>
    <h3>Loans</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>What You Requested</th>
            <th>Percent Contributed</th>
            <th>What's Left</th>
            <th>Status</th>
            <th>Cancel?</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.loans.each do |loan| %>
            <tr>
              <% if loan %>
                <td><%= link_to loan.title, borrower_loan_path(loan) %></td>
                <td><%= number_to_currency(loan.amount.to_i/100) %></td>
                <td><%= loan.progress %> % </td>
                <td><%= number_to_currency(loan.pending.to_i/100) %></td>
                <td><%= loan.aasm_state.capitalize %></td>
                <td>
                    <%= link_to 'Cancel', borrower_loan_path(loan),
                    method: 'delete',
                    data: { confirm: 'Are you sure you want to cancel this loan request?' },
                    class: 'btn btn-sm btn-default' %>
                </td>
              <% end %>
            </tr>
          <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
  <% else %>
  <br><br><br><br>
  <h3>You currently have no loans if you would like some money please click below</h3>
     <br><br>
    <%= link_to 'Apply For A New Loan', new_borrower_loan_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
