<div class="page-border">
  <div class="page-header">
    <h1><%= @loan.title %></h1>
    <% @loan.errors.full_messages.each do |m| %>
      <%= m %><br/>
    <% end %>
  </div>
  <%= form_for @loan, url: borrower_loan_path(@loan) do |f| %>
    <%= f.label      :title %><br/>
    <%= f.text_field :title %><br/>

    <%= f.label      :description %><br/>
    <%= f.text_area  :description %><br/>

    <%= f.label             :loan_category %><br/>
    <%= f.collection_select :categories, Category.all, :id, :name %><br/>

    <%= f.label       :repayments_begin %><br/>
    <%= f.date_field  :repayments_begin %><br/>

    <%= f.label       :requested_by %><br/>
    <%= f.date_field  :requested_by %><br/>

    <%= f.label       :monthly_payment %><br/>
    <%= f.text_field  :monthly_payment %><br/>

    <%= f.label      :amount %><br/>
    <%= f.text_field :amount, value: @loan.unit_price_decimal %><br/>
    
    <%= f.label :image %>
    <%= f.file_field :image %>
    <div class="form-actions">
      <%= f.submit :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', borrower_loans_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
</div>
