<div class="page-border">
  <div class="page-header">
    <h1>My Loans</h1>
    <%= link_to 'New', new_borrower_loan_path, :class => 'btn btn-primary' %>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <% @loan_states.each_with_index do |state, i| %>
      <li class="<%= i==0 ? 'active' : '' %>">
        <a class="tab-control" href="#tab-<%=i + 1 %>"><%= state.capitalize %></a>
      </li>
    <% end %>
  </ul>
  <% @loan_states.each_with_index do |state, i| %>
      <div class="tab-panel<%= i==0 ? ' active' : ''%>" id="tab-<%= i+1 %>">
        <div class="loans transitions-enabled">
          <%= render partial: 'loans_table', collection: @loans_by_state[state], as: :loan %>
        </div>
      </div>
  <% end %>
</div>
