<div class="page-border">
  <div class="page-header">
    <h1>Make a New Loan Request Below</h1>
  </div>
  <% if @loan.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% @loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @loan, url: borrower_loans_path, method: :post do |f| %>
    <%= f.label       :title, 'Loan Title' %><br/>
    <%= f.text_field  :title %><br/><br/>

    <%= f.label       :description, 'Tell Us What You Need' %><br/>
    <%= f.text_area   :description,
                      placeholder: "In three or fewer paragraphs tell us how this loan will change your life.",
                      cols: 48,
                      rows: 6 %><br/><br/>

    <%= f.label             :loan_category, 'Pick a Category' %><br/>
    <%= f.collection_select :categories, Category.first(6), :id, :name, include_blank: true  %><br/><br/>

    <%= f.label       :amount, 'How Much Do You Need?' %><br/>
    <%= f.text_field  :amount %><br/><br/>

    <%= f.label       :requested_by, 'When Do You Need It?' %><br/>
    <%= f.date_field  :requested_by %><br/><br/>

    <%= f.label       :repayments_begin, 'When Can You Start Repaying It?' %><br/>
    <%= f.date_field  :repayments_begin %><br/><br/>

    <%= f.label       :monthly_payment, 'How Much Can You Repay Per Month?' %><br/>
    <%= f.text_field  :monthly_payment %><br/>
    <span id="minimum-monthly-payment"></span></br>
    <span id="suggested-monthly-payment"></span></br>

    <%= f.label       :image, "Upload A Picture Of Yourself" %><br/>
    <%= f.file_field  :image %><br/>
    <div class="form-actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to 'Cancel', borrower_loans_path, :class => 'btn btn-danger' %>
    </div>
  <% end %>
  <script src="http://code.jquery.com/jquery-1.5.js"></script>
    <script>
      $(document).ready(function(){
        var amountBox    = $('#loan_amount') // Textarea input box
        var totalAmount  = $('#loan_amount').value; //Total characters allowed in textarea
        var MinAmountBox    = $('#minimum-monthly-payment'); // Remaining chars count will be displayed here
        var SugAmountBox    = $('#suggested-monthly-payment'); // Remaining chars count will be displayed here

        amountBox.keyup(function() { //user releases a key on the keyboard

            var thisAmount = this.value; //get chars count in textarea

            var value = thisAmount * .16;
            var min = thisAmount * .08;
            SugAmountBox.text('Suggested Monthly Payment: $' + value); //count remaining chars
            MinAmountBox.text('Minimum Monthly Payment: $' + min); //count remaining chars
        });
    });
  </script>
</div>
