<% cart.contributions.map {|contribution| contribution.loan_id} %>
<div class="loan-box col-lg-3 col-md-4 col-sm-4 col-xs-12">
  <div class="loan-box-insides">
    <div class="loan-box-text">
      <div class="loan-title">
        <strong><%= link_to contribution.loan.title, contribution_path(contribution) %></strong>
      </div>
      <div class="loan-description">
        <%= contribution.loan.description %>
      </div>
      <div class="loan-unit-price">
        <%= contribution.loan.decorate.unit_price_dollars %>
      </div>
      <div class="currency">
        <%= number_to_currency(contribution.amount.to_i/100) %>
      </div>
      <div class="status">
        <%= contribution.status.capitalize %>
      </div>
    </div>


    <div class="loan-box-footer">
      <div class="row">
        <div class="days-left col-md-4 col-sm-3 col-xs-4"><strong>Expires in:</strong></br> days</div>
        <div class="remaining col-md-3 col-sm-3 col-xs-3"><strong>Remaining:</strong></br> %></div>
        <div class="form-actions">
          <%= link_to 'Cancel', contribution_cancel_path(contribution),
            :method => 'post',
            :data => { :confirm => 'Are you sure?' },
            :class => 'btn btn-danger' %>
        </div>
      </div>
      <div class="cart-total">
        <%= number_to_currency(@contribtuion_total) %> TOTAL
      </div>
    </div>
  </div>
</div>
