<h1>Confirmation and Payment</h1>

<%= form_tag checkout_contributions_path do %>
<table class="table table-striped order-table">
  <tr>
    <th></th>
    <th class="col-md-6">Loan Name</th>
    <th></th>
    <th class="col-md-2"></th>
    <th class="col-md-6">Contribution Amount</th>
  </tr>
    <% for contribution in @contributions %>
      <tr>
        <td><%= hidden_field_tag "contribution_ids[]", contribution.id %></td>
        <td><%=h contribution.loan.title %></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency(contribution.amount.to_i/100) %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> <strong>TOTAL:</strong> </td>
      <td id="cart-total" ><%= number_to_currency cart.total %></td>
    </tr>
</table>
<div class="col-md-8 pull-left">
  <h1 id="best-contribution">
    Your contribution is the best!
  </h1>
  <h3>
    You are helping this person immensely.
  </h3>
  <h3>
    I hope this helps you assuage your white guilt. Have a nice day!
  </h3>
</div>
<div class="col-md-4 pull-right">
  <%= hidden_field_tag :stripe_card_token %>
  <div class="form-group">
    <label for="CardCardNumber">Credit Card Number </label></br>
    <%= text_field_tag 'credit_card', nil, class: "col-lg-6", id: "credit_card", stripe: "number" %></br><br>
    <label for="CVV">CVV</label></br>
    <%= text_field_tag 'CVV', nil, class: "col-lg-2", id: "cvv", stripe: "number" %></br></br>
    <label for="ExpirationDate">Expiration Date</label></br>

    <select id='month'>
      <option value=''>--Select Month--</option>
      <option value='1'>Janaury</option>
      <option value='2'>February</option>
      <option value='3'>March</option>
      <option value='4'>April</option>
      <option value='5'>May</option>
      <option value='6'>June</option>
      <option value='7'>July</option>
      <option value='8'>August</option>
      <option value='9'>September</option>
      <option value='10'>October</option>
      <option value='11'>November</option>
      <option value='12'>December</option>
    </select></br>

    <select id='year'>
      <option value=''> --Select Year-- </option>
      <option value='15'>2015</option>
      <option value='16'>2016</option>
      <option value='17'>2017</option>
      <option value='18'>2018</option>
      <option value='19'>2019</option>
      <option value='20'>2020</option>
    </select></br></br>
    <%= submit_tag "Checkout", class: "btn btn-primary" %>
  </div>
</div>
<% end %>
