<div class="page-border">
  <div class="container" style="width: 100%">
    <%= link_to "<< Back to Menu", root_path %>
    <span id="my-cart-title"><h2>My Cart</h2></span>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Amount Contributed</th>
        <th>Loan Amount</th>
        <th>Remove?</th>
      </tr>
      <% if @contributions.any? %>
        <% @contributions.each do |contribution| %>
          <tr>
            <td><%= contribution.loan.title %></td>
            <td>
             <select>
                <option><%= number_to_currency(contribution.amount.to_i/100) %></option>
                  <% contribution_int = contribution.amount.to_i  %>
                <% until contribution_int == contribution.loan.amount do %>
                  <% contribution_int = contribution_int + 2500 %>
                <option><%= number_to_currency(contribution_int/100) %></option>
                <% end %>
              </select>
            </td>
            <td><%= contribution.loan.amount_in_dollars %></td>
            <td>
              <%= form_for(:cart, url: cart_path, method: :delete) do |f| %>
                <%= f.hidden_field :contribution_id, value: contribution.id %>
                <%= f.submit "Remove", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><span id="cart-total"><%= number_to_currency(cart.total) %> TOTAL</span></td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="5" style="text-align:center;">Your cart is empty.</td>
        </tr>
      <% end %>
    </table>
    <% if @contributions.any? %>
      <div id="checkout-button"><%= link_to "Checkout", review_contributions_path, class: 'btn btn-success center' %></div>
    <% end %>
  </div>
</div>
