<div class="page-border">
  <div class="container" style="width: 100%">
    <%= link_to "<< Back to Menu", root_path %>
    <span id="my-cart-title"><h2>My Cart</h2></span>
    <%= form_for(cart, url: cart_path, method: :put) do |cart_form| %>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Amount Contributed</th>
        <th>Max Contribution</th>
        <th>Update Amount</th>
      </tr>
      <% if @contributions.any? %>
          <%= cart_form.fields_for :contributions do |contribution_fields| %>
          <% contribution_decorator = ContributionDecorator.new(contribution_fields.object) %>
          <tr>
            <td><%= contribution_fields.object.loan.title %></td>
            <td>
              <%= contribution_fields.select(:amount, contribution_decorator.contribution_range) %>
            </td>
            <td><%= contribution_fields.object.loan.pending %></td>
            <td><%= cart_form.submit %></td>
          </tr>
          <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><span id="cart-total"><%= number_to_currency(cart.total) %> TOTAL</span></td>
          <td></td>
        </tr>
      </table>
            <div id="checkout-button"><%= link_to "Checkout", review_contributions_path, class: 'btn btn-success' %></div>
      <% else %>
          <td colspan="5" style="text-align:center;">Your cart is empty.</td>
      <% end %>
  <% end %>
  </div>
</div>
